<p class="text-center" id="notice"><%= notice %></p>


<div class="container">
  
  <div class="row">
    
    <div class="col-md-3 ">
      <br>
      <br>
      
      <% if !current_user %>
        <%= render partial: 'form' %>
    
     <% else %>

     <% end %>

    </div>

    <div class="col-md-9">
      <h2 class="text-center">Today's Events</h2>

      <%= render partial: 'events/list_index' %>
      
    </div>
  </div> <!-- row -->
</div> <!-- container -->




