<table class="table">
	<tbody>
		<tr>
		<% @attendees.each do |attendee| %>

		<td> <%= attendee.username.capitalize %> </td>
		<td> <%= image_tag attendee.avatar.url(:thumb), class: "attendee pull-right" %> </td>
	  
			






		<% end %> 
 	 </tr>
  </tbody>
</table>