<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
    	<div class="row">
    		<div class="text-center footer-text">
    			Spontaneous Socialization on Tap <i class="fa fa-coffee"></i>
    		</div>
    	</div>
		</div>
</footer>
  
  </body>
</html>