<%= render 'layouts/header' %>

 <!-- FLASH -->

 <div class="row">
 	<div class="col-md-6 col-md-offset-3">

   <%= yield %>
  
  </div>
  <div class="col-md-3"></div>
 </div>

 <%= debug(params) if Rails.env.development? %>

<%= render 'layouts/footer' %>
